<a href="https://colab.research.google.com/github/DajeanArcila/biblioteca_pandas/blob/main/LogicaDeCalculo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ejemplo de uso de condicionales y bucles
def verificar_numero(numero):
    if numero > 0:
        print("El número es positivo")
    elif numero < 0:
        print("El número es negativo")
    else:
        print("El número es cero")

# Ejemplo de bucle for
def imprimir_numeros(numero):
    for i in range(numero):
        print(i)

# Ejecución de las funciones
verificar_numero(5)
verificar_numero(-3)
verificar_numero(0)

imprimir_numeros(7)

El número es positivo
El número es negativo
El número es cero
0
1
2
3
4
5
6

In [ ]:
frutas = ["2", "banana", "cereza"]
for loca in frutas:
    print(loca)

2
banana
cereza

In [ ]:
numeros = [1, 2, 3,9,9,9,9,9,9,9,9,9,9,9,9, 4, 5]
suma = 100
for numero in numeros:
    suma += numero
print("La suma es:", suma)

La suma es: 223

In [ ]:
contador = 5
print("Cuenta regresiva:")
while contador > 0:
    print(contador)
    contador -= 1
print("¡Despegue!")

Cuenta regresiva:
5
4
3
2
1
¡Despegue!

In [ ]:
numeros = [10, 50, 101, 150, 30]
i = 0
while i < len(numeros):
    if numeros[i] > 100:
        print("El primer número mayor que 100 es:", numeros[i])
        break
    i += 1

El primer número mayor que 100 es: 101

In [ ]:
try:
    numerador = 10
    denominador = 0
    resultado = numerador / denominador
    print("El resultado es:", resultado)
except ZeroDivisionError:
    print("Error: No se puede dividir por cero.")

Error: No se puede dividir por cero.

In [ ]:
try:
    numero = int(input("Ingresa un número: "))
    print("El número ingresado es:", numero)
except ValueError:
    print("Error: No ingresaste un número válido.")

Ingresa un número: 222
El número ingresado es: 222

In [ ]:
numeros_pares = []
for i in range(1, 21):
    if i % 2 == 0:
        numeros_pares.append(i)
print("Números pares:", numeros_pares)

Números pares: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
texto = input("Ingresa una cadena de texto: ").lower()
vocales = "aeiou"
contador = 0
for letra in texto:
    if letra in vocales:
        contador += 1
print("El número de vocales es:", contador)

Ingresa una cadena de texto: hola mama
El número de vocales es: 4

In [ ]:
while True:
    try:
        numero = int(input("Ingresa un número: "))
        print("El número ingresado es:", numero)
        break  # Salir del bucle si la entrada es válida
    except ValueError:
        print("Error: No ingresaste un número válido. Inténtalo de nuevo.")

Ingresa un número: dd
Error: No ingresaste un número válido. Inténtalo de nuevo.
Ingresa un número: dd
Error: No ingresaste un número válido. Inténtalo de nuevo.
Ingresa un número: dd
Error: No ingresaste un número válido. Inténtalo de nuevo.
Ingresa un número: dd
Error: No ingresaste un número válido. Inténtalo de nuevo.
Ingresa un número: 3
El número ingresado es: 3

In [ ]:
nombre_correcto=("dajean")
while True:
  nombre=input("ingresa tu nombre: ")
  if nombre == nombre_correcto:
    print("nombre correcto")
    break
  else:
    print("nombre incorrecto")
    break

ingresa tu nombre: g
nombre incorrecto

In [ ]:
nombre_correcto = "dajean"

while True:
    nombre = input("Dime tu nombre: ")

    if nombre.lower() == nombre_correcto:
        print("Nombre correcto")
        break
    else:
        print("Nombre incorrecto. Inténtalo de nuevo.")

Dime tu nombre: hola
Nombre incorrecto. Inténtalo de nuevo.
Dime tu nombre: dajean
Nombre correcto

In [ ]:
nombre_correcto = "dajean"

while True:
    #try:
        nombre = input("Ingresa tu nombre: ").lower()  # Convertir la entrada a minúsculas
        if nombre == nombre_correcto:
            print("Nombre correcto")
            break
        else:
            print("Nombre incorrecto")

    #except ValueError:
        #print("Error: No ingresaste un nombre válido.")

Ingresa tu nombre: dola
Nombre incorrecto
Ingresa tu nombre: dajean
Nombre correcto

In [ ]:
x = True
y = False
print(x and y) # False
print(x or y)  # True
print(not x)   # False

False
True
False

In [ ]:

# Operaciones de conjuntos
conjunto1 = {1, 2, 3}
conjunto2 = {3, 4, 5}
print(conjunto1.union(conjunto2))       # {1, 2, 3, 4, 5}
print(conjunto1.intersection(conjunto2)) # {3}
print(conjunto1.difference(conjunto2))
print(conjunto2.difference(conjunto1))

{1, 2, 3, 4, 5}
{3}
{1, 2}
{4, 5}

 # Funciones Lambda
Las funciones lambda son pequeñas funciones anónimas que se definen usando la palabra clave lambda. Son útiles para operaciones simples que se pueden definir en una sola línea.

In [ ]:
# Función lambda que suma dos números
suma = lambda x, y: x + y
print(suma(5, 3,9))  # 8

# Función lambda para multiplicar un número por 2
multiplicar_por_dos = lambda x: x * 2
print(multiplicar_por_dos(4))  # 8

32
8

In [ ]:
def saludar(nombre, edad):
    print(f"Hola, {nombre}. Tienes {edad} años.")

saludar("Dajean", 25)

Hola, Dajean. Tienes 25 años.

In [ ]:
def saludar(nombre, edad):
    print(f"Hola, {nombre}. Tienes {edad} años.")

saludar(edad=25, nombre="Dajean")

Hola, Dajean. Tienes 25 años.

In [ ]:
def saludar(nombre, edad=18):
    print(f"Hola, {nombre}. Tienes {edad} años.")

saludar("Dajean")         # Usa el valor predeterminado de edad
saludar("Dajean", 25)     # Usa el valor proporcionado

Hola, Dajean. Tienes 18 años.
Hola, Dajean. Tienes 25 años.

In [ ]:
def sumar(*args):
    return sum(args)

print(sumar(1, 2, 3, 4))  # 10

def mostrar_info(**kwargs):
    for clave, valor in kwargs.items():
        print(f"{clave}: {valor}")

mostrar_info(nombre="Dajean", edad=25, ciudad="Lima")

10
nombre: Dajean
edad: 25
ciudad: Lima

In [ ]:
from functools import reduce

numeros = [1, 2, 3, 4]
suma = reduce(lambda x, y: x + y, numeros)
print(suma)  # 10

10

In [ ]:
#funcion
def cuadrado(x):
    return x ** 2

numeros = [1, 2, 3, 4]
cuadrados = map(cuadrado, numeros)
print(list(cuadrados))  # [1, 4, 9, 16]

#diferencia com lambda
numeros = [1, 2, 3, 4]
cuadrados = map(lambda x: x ** 2, numeros)
print(list(cuadrados))  # [1, 4, 9, 16]

[1, 4, 9, 16]
[1, 4, 9, 16]

In [ ]:
texto = input("Ingresa una cadena de texto: ").lower()
vocales = "aeiou"
contador = 0

for letra in texto:
    if letra in vocales:
        contador = contador + 1

print("El número de vocales es: ",contador)

Ingresa una cadena de texto: hola mama
El número de vocales es:  4